<div class="container">
  <h1>오늘 만나게될 패작러를 알아봅니다.</h1>
  <h1>이름을 입력하세요!</h1>
</div>

<% @nottodos.each do |nottodo| %>
  <tr>
    <td><%= nottodo.name %></td>
    <td><%= nottodo.champion %></td>
    <td><%= link_to 'Show', nottodo %></td>
    <td><%= link_to 'Edit', edit_nottodo_path(nottodo) %></td>
    <td><%= link_to 'Destroy', nottodo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
<br>

<%= link_to '더알아보기 ->', new_nottodo_path %>
