<div class="container show">
  <div class="content">
    <p>
      <%= @todo.name %>님은 오늘 <span class="champ_name" id="to"><%= @todo.champion %></span> 만나면 절하세요!
    </p>
  </div>

  <div class="row link">
    <%= link_to '> 다시하기', new_todo_path, class: "col" %>
    <%= link_to '> 트롤러 알아보기', new_nottodo_path, class: "col" %>
    <%= link_to '> 돌아가기', root_path, class: "col" %>
  </div>
</div>
